<%- include("partials/header") -%>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">

    <label>Title</label>
    <input type="text" class="form-control" name="txt1" value="">

    <label>Post</label>
    <textarea name="txtar1" class="form-control" rows="8" cols="80"></textarea>
  </div>
<button type="submit" class="btn btn-primary" name="button">publish</button>
</form>



<%- include("partials/footer") -%>
